@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "About Page";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>
    </head>
    <body>
        <p>Hello World</p>
    </body>
</html>