@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "About Page";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>
    </head>
    <body>
        <div>
            <h2>Images</h2>
            <a href="https://nhurwitz75.github.io/WackyMapsImages/" target="_blank">WackyMapsImages</a>
        </div>
        <div>
            <h2>Personal Bio</h2>
            <p>My name is Nava Hurwitz. I am fourth generation Bostonian and have lived their for the first six years of my life. I moved to New York when I was six years old. I have three siblings, 
                two brothers and one sister. I love coding and I love helping people. This project reflects both of those things really well. I have been learning and 
                teaching myself to code for about four years now and I have loved every second of it. I know many languages and have built many projects with them.
                I chose to do this project because it has allowed me to use some really cool technologies and do really cool things.
            </p>
        </div>
        <div>
            <h2>Research</h2>
            <p>
                Many people travel internationally as tourists every year. In 2022 alone around 917 million people traveled internationally as tourists. Out of those 917 million people, many of them are illiterate in geography.
                Geographic illiteracy is the inability to comprehend, understand, and make intelligent decisions at all scales of human settlement patterns.This means that
                many people will get lost because they can not read a map, determine which way to go, and figure out how to get where they need to be.
            </p>
        </div>
        <div>
            <h2>Target Users</h2>
            <p>
                The target users for my project are people traveling internationally as tourists. Visiting new countries means that there will be places that you are
                not familiar with. This could result in many people getting lost and not knowing how to get back on track. You are in an unfamiliar country and you may need
                help getting around.
            </p>
        </div>
        <div>
            <h2>Purpose and Functionality</h2>
            <p>
                WackyMaps is designed to help people get to where they need to be in the fastest, most efficient way possible.
                Simply scan the QR code and get started. The QR code will take you to the corresponding page on the website. The page will have information about the
                location, pictures of the location, and directions to get to the next location.
            </p>
        </div>
        <div>
            <h2>Cost</h2>
            <p>The cost is going to be $45</p>
        </div>
        <div>
        @*<img src="c:\users\navah\source\repos\wackymaps\images\flow.jpg" />*@
        </div>
    </body>
</html>