@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "auditorium";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/auditorium.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <h1>Auditorium</h1>
            <p>
                The auditorium is one of the rooms in the school that is used the most. It used for programming, both lunch periods, davening, and as access to the
                gym. During break and free periods you can often find students hanging out in the auditorium. The auditorium is centrally located in the building. It
                is big room and it can fit many people inside of it.
            </p>
        </div>
        <div>
            <h3>Directions</h3>
                <ul>
                    <li>Auditorium to Lab</li>
                    <li>Auditorium to Gym</li>
                    <li>Auditorium to STEM</li>
                </ul>
        </div>
    </body>
</html>