@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "auditorium";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/auditorium.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <h1>Auditorium</h1>
            <p>
                The auditorium is one of the rooms in the school that is used the most. It used for programming, both lunch periods, davening, and as access to the
                gym. During break and free periods you can often find students hanging out in the auditorium. The auditorium is centrally located in the building. It
                is big room and it can fit many people inside of it.
            </p>
        </div>
        <div>
            <h3>Directions</h3>
               <table>
                   <tr>
                       <th>Auditorium to Gym</th>
                       <th>Auditorium to Lab</th>
                       <th>Auditorium to STEM</th>
                   </tr>
                   <tr>
                       <td>Go through the large metal door</td>
                       <td>Go through one of the three sets of doors</td>
                       <td>Go through one of the three sets of doors</td>
                   </tr>
                   <tr>
                       <td>Go down the stairs</td>
                       <td>Turn left</td>
                       <td>Walk down the bowling alley (slanted hallway)</td>
                   </tr>
                   <tr>
                       <td>You have reached the gym</td>
                       <td>Go until you reach the stairs</td>
                       <td>Go into the front of the school and go up the stairs</td>
                   </tr>
                   <tr>
                       <td>Placeholder</td>
                       <td>Go down the stairs</td>
                       <td>Turn left</td> 
                   </tr>
               </table>
        </div>
    </body>
</html>