@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "gym";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/gym.css" asp-append-version="true"/>
    </head>
    <body>
        <div>
            <h1>Gym</h1>
            <p>
                The gym is one of the most used rooms in the school building. It is used for gym classes, sports games, and programs. The gym has three entrances to the outside, but be careful
                one of them may set off an alarm. It is one of the most common places to find students because of the vending machines that are in there. In the gym
                there is an office for the gym teachers, lockers for sports games, sports equipment, basketball hoops, and more. The gym is sometimes used by the
                preschool for different activities of theirs as well. Below you will find directions from this location to each of the others.
            </p>
        </div>
        <div class="grid">
            <table>
                <tr>
                    <th>Gym to Lab</th>
                    <th>Gym to Auditorium</th>
                    <th>Gym to STEM</th>
                </tr>
                <tr>
                    <td>Go up the stairs</td>
                    <td>Go up the stairs</td>
                    <td>Go up the stairs</td>
                </tr>
                <tr>
                    <td>Push open the large metal door</td>
                    <td>Push open the large metal door</td>
                    <td>Push open the large metal door</td>
                </tr>
                <tr>
                    <td>Walk across the auditorium and go through any of the three sets of doors</td>
                    <td>You have reached the auditorium</td>
                    <td>Walk across the auditorium and go through any of the three sets of doors</td>
                </tr>
                <tr>
                    <td>Turn left and go until you reach the stairs</td>
                    <td class="holder">placeholder</td>
                    <td>Go down the bowling alley (slanted hallway)</td>
                </tr>
                <tr>
                    <td>Go down the stairs</td>
                    <td class="holder">placeholder</td>
                    <td>Go into the front of the school and go up the stairs</td>
                </tr>
                <tr>
                    <td>Turn left</td>
                    <td class="holder">placeholder</td>
                    <td>Turn left</td>
                </tr>
                <tr>
                    <td>Go down the stairs</td>
                    <td class="holder">placeholder</td>
                    <td>Walk to the end of the hallway</td>
                </tr>
                <tr>
                    <td>Go into the lab</td>
                    <td class="holder">placeholder</td>
                    <td>Turn right and go into the stem lab</td>
                </tr>
            </table>
        </div>
    </body>
</html>
