@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Lab";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/lab.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <h1>Lab</h1>
            <p>
                The Lab is one of the classrooms in the basement. It is where all of the materials needed for the different labs for the different curriculums are done.
                Part of the lab looks like your typical classroom and the other part has lab benches so that the students can carry out their experiments. In the back
                of the lab there is a walled off area that is a storage area for other materials needed for general labs and some chemicals that are not kept out in the open.
            </p>
        </div>
       <div> 
           <table>
               <tr>
                   <th>Lab to Gym</th>
                   <th>Lab to Auditorium</th>
                   <th>Lab to STEM</th>
               </tr>
               <tr>
                   <td>Go out the back of the gym</td>
                   <td></td>
                   <td></td>
               </tr>
           </table>
       </div>
    </body> 
</html>
