@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Lab";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/lab.css" asp-append-version="true" />
    </head>
    <body>
        <h1>Lab</h1>
        <p>The Lab is one of the classrooms in the basement. It is where all of the </p>
    </body> 
</html>
