@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Lab";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/lab.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            <h1>Lab</h1>
            <p>
                The Lab is one of the classrooms in the basement. It is where all of the materials needed for the different labs for the different curriculums are done.
                Part of the lab looks like your typical classroom and the other part has lab benches so that the students can carry out their experiments. In the back
                of the lab there is a walled off area that is a storage area for other materials needed for general labs and some chemicals that are not kept out in the open.
            </p>
        </div>
       <div> 
           <h3>Directions</h3>
           <table>
               <tr>
                   <th>Lab to Gym</th>
                   <th>Lab to Auditorium</th>
                   <th>Lab to STEM</th>
               </tr>
               <tr>
                   <td>Go out the back of the lab</td>
                   <td>Go out the back of the lab</td>
                   <td>Go out the front of the lab</td>
               </tr>
               <tr>
                   <td>Turn left and go up the stairs</td>
                   <td>Turn left and go up the stairs</td>
                   <td>Go up the stairs</td>
               </tr>
               <tr>
                   <td>At the top of the stairs, turn right</td>
                   <td>At the top of the stairs, turn right</td>
                   <td>Turn left</td>
               </tr>
               <tr>
                   <td>Go until you reach the auditorium</td>
                   <td>Go until you reach the auditorium</td>
                   <td>Turn right</td>
               </tr>
               <tr>
                   <td>Go into the auditorium using any of the three doors</td>
                   <td>Go into the auditorium using any of the three doors</td>
                   <td>Go through the set of doors</td>
               </tr>
               <tr>
                   <td>Once in the auditorium, walk to the large metal door</td>
                   <td>You have reached the auditorium</td>
                   <td>Walk across the library and go through the set of doors on the left</td>
               </tr>
               <tr>
                   <td>Push open the door and go down the stairs</td>
                   <td class="place">placeholder</td>
                   <td>Go up the stairs</td>
               </tr>
               <tr>
                   <td>You have reached the gym</td>
                   <td class="place">placeholder</td>
                   <td>Turn left</td>
               </tr>
               <tr>
                   <td class="place">placeholder</td>
                   <td class="place">placeholder</td>
                   <td>Walk to the end of the hallway</td>
               </tr>
               <tr>
                   <td class="place">placeholder</td>
                   <td class="place">placeholder</td>
                   <td>Turn right and go into the stem lab</td>
               </tr>
           </table>
       </div>
    </body> 
</html>
