@page
@model WackyMaps.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "stem";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/stem.css" asp-append-version="true"/>
    </head>
    <body>
        <div>
            <h1>STEM Lab</h1>
            <p>
                The STEM Lab is used for STEM classes, robotics, AP physics, and more. Lining the walls are cabinets and drawers that holds the supplies that are
                used for student projects. The back of the room has two chromebook carts which hold the chromebooks that the students use during class.
            </p>
        </div>
        <div class="tabl">
            <table>
                <tr>
                    <th class="header" colspan="3">Directions</th>
                </tr>
                <tr>
                    <th>STEM to Auditorium</th>
                    <th>STEM to Lab</th>
                    <th>STEM to Gym</th>
                </tr>
                <tr>
                    <td>Turn left</td>
                    <td>Turn left</td>
                    <td>Turn left</td>
                </tr>
                <tr>
                    <td>Walk until you reach the stairs</td>
                    <td>Walk until you reach the stairs</td>
                    <td>Walk until you reach the stairs</td>
                </tr>
                <tr>
                    <td>Go down the stairs</td>
                    <td>Go down the stairs</td>
                    <td>Go down the stairs</td>
                </tr>
                <tr>
                    <td>From the front of the school go up the bowing alley (slanted hallway)</td>
                    <td>From the front of the school go up the bowing alley (slanted hallway)</td>
                    <td>From the front of the school go up the bowing alley (slanted hallway)</td>
                </tr>
                <tr>
                    <td>Go through one of the three sets of doors into the auditorium</td>
                    <td>Turn right</td>
                    <td>Go through one of the three sets of doors into the auditorium</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Go until you reach the stairs</td>
                    <td>Go through the large metal door</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Go down the stairs</td>
                    <td>Go down the stairs into the gym</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Turn left</td>
                    <td class="circle">placeholder</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Go until the stairs</td>
                    <td class="circle">placeholder</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Go down the stairs</td>
                    <td class="circle">placeholder</td>
                </tr>
                <tr>
                    <td class="circle">placeholder</td>
                    <td>Go through the door and into the lab</td>
                    <td class="circle">plcaeholder</td>
                </tr>
            </table>
        </div>
    </body>
</html>